<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.luzi82.android.wallpaper.gol" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<!--
			<activity android:name=".GolActivity"
			android:label="@string/app_name"> <intent-filter> <action
			android:name="android.intent.action.MAIN" /> <category
			android:name="android.intent.category.LAUNCHER" /> </intent-filter>
			</activity>
		-->
		<service android:name=".LiveWallpaper" android:enabled="true"
			android:icon="@drawable/icon" android:label="@string/app_name"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter android:priority="1">
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/livewallpaper" />
		</service>
	</application>
	<uses-sdk android:minSdkVersion="7" />
	<uses-feature android:name="android.software.live_wallpaper" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
</manifest> 